body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(/img/background/teritobackground.jpg);
}
body #buttonFel {
  height: 2.5em;
  width: 2.5em;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: rgba(255, 0, 0, 0.75);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgb(25, 25, 25);
  text-align: center;
  vertical-align: middle;
}
body #buttonFel:hover {
  background-color: rgba(85, 85, 85, 0.8823529412);
  color: white;
  border-color: rgb(230, 230, 230);
}
body header {
  height: 100px;
  border-style: solid;
}
body header .container .row .active a {
  background-color: darkslategray;
}
body main h1 {
  text-align: center;
  margin-top: 0.2em;
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body main h4 {
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
body main .etlap {
  margin-top: 0px;
  padding-top: 0px;
}
body main .etlap h2 {
  margin-left: 10px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
body main .etlap h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 95%;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
body main .etlap div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transition: transform 0.25s;
}
body main .etlap div img:hover {
  transform: scale(1.2);
}
body main .etlap div .etelNev {
  font-weight: bold;
  text-align: center;
  font-size: 75%;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}
body main .etlap div .etelAr {
  font-style: italic;
  text-align: center;
  font-size: 75%;
  padding-top: 0px;
  margin-top: 0px;
}
body main .etlap .nap {
  margin: auto;
  width: 80%;
  height: 100%;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.18), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
  padding-top: 0.5em;
}
body main .tartalom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 30px;
}
body main .tartalom .map {
  grid-area: 1/1/2/2;
  margin-top: 20px;
  padding-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  height: 100%;
  margin: auto;
}
body main .tartalom .map iframe {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.18), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}
body main .tartalom .info {
  grid-area: 2/1/3/2;
  color: black;
  text-align: left;
  padding: 30px;
  bottom: 0px;
  letter-spacing: 2px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.18), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}
body main .tartalom .info p {
  margin-bottom: 0px;
  padding-top: 4px;
  padding-right: 4px;
}
body main .tartalom {
  margin-top: 30px;
}
body main .tartalom .rendel {
  color: black;
  text-align: left;
  bottom: 0px;
  letter-spacing: 2px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.18), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}
body main .tartalom .rendel p {
  margin-bottom: 0px;
  padding-top: 4px;
  padding-right: 4px;
}/*# sourceMappingURL=style.css.map */