body{
    #buttonFel {
        height: 2.5em;
        width: 2.5em;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        font-size: 18px;
        outline: none;
        background-color: rgba(255, 0, 0, 0.75);
        color: black;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        border-style: solid;
        border-color: rgb(25, 25, 25);
        text-align: center;
        vertical-align: middle;
    }
    #buttonFel:hover {
        background-color: #555555e1;
        color: white;
        border-color: rgb(230, 230, 230);
    }

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/img/background/teritobackground.jpg);
    header{
        //placeholder
        height: 100px;
        border-style: solid;
        .container{
            .row{
                .active{
                    a{
                        background-color: darkslategray;
                    }
                }
            }
        }  
    }
    main{
        h1{
            text-align: center;
            margin-top: .2em;
            font-family: sans-serif;
            font-variant: small-caps;
            font-weight: bolder;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
            font-size: 50px;
            padding-bottom: 0px;
            margin-bottom: 0px;

        }    
        h4{
            font-family: sans-serif;
            font-variant: small-caps;
            font-weight: bold;
            text-shadow: 2px 2px rgba(0, 0, 0, .25);
        }
        .etlap{
            margin-top: 0px;
            padding-top: 0px;
            h2{
                margin-left: 10px;
                font-family: sans-serif;
                font-variant: small-caps;
                font-weight: bold;
                text-shadow: 2px 2px rgba(0, 0, 0, .25);
            }
            h3{
                text-align: center;
                font-family: sans-serif;
                font-size: 95%;
                font-variant: small-caps;
                font-weight: bold;
                text-shadow: 2px 2px rgba(0, 0, 0, .25);
            }
            div{        
                img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                    transition: transform .25s;
                }
                img:hover{
                    transform: scale(1.2);
                }
                .etelNev{
                    font-weight: bold;
                    text-align: center;
                    font-size: 75%;
                    padding-top: 5px;
                    margin-bottom: 5px;
                    padding-bottom: 0px;
                }
                .etelAr{
                    font-style: italic;
                    text-align: center;
                    font-size: 75%;
                    padding-top: 0px;
                    margin-top: 0px;
                }
            }
            .nap{
                margin: auto;
                width: 80%;
                height: 100%;
                background: white;
                border-radius: 10px;
                transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                box-shadow: inset 0 -3em 3em rgba(0,0,0,0.18),
                            0 0  0 2px rgb(190, 190, 190),
                            0.3em 0.3em 1em rgba(0,0,0,0.5);
                padding-top: .5em;
            }
        }
        //elerhetosegek.html
        .tartalom{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr .7fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;            
            margin-top: 30px;
            .map{
                grid-area: 1 / 1 / 2 / 2;
                margin-top: 20px;
                padding-top: 0px;
                margin-bottom: 20px;
                padding-bottom: 0px;
                height: 100%;
                margin: auto;
                iframe{
                    background: rgb(255, 255, 255);
                    border-radius: 10px;
                    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.18),
                                0 0  0 2px rgb(190, 190, 190),
                                0.3em 0.3em 1em rgba(0,0,0,0.5);
                }
            }
            .info{
                grid-area: 2 / 1 / 3 / 2;
                color: black;
                text-align: left;
                padding: 30px;
                bottom: 0px;
                letter-spacing: 2px;
                font-weight: bold;
                background: rgb(255, 255, 255);
                border-radius: 10px;
                margin: auto;
                transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                box-shadow: inset 0 -3em 3em rgba(0,0,0,0.18),
                            0 0  0 2px rgb(190, 190, 190),
                            0.3em 0.3em 1em rgba(0,0,0,0.5);

                p{
                    margin-bottom: 0px;
                    padding-top: 4px;
                    padding-right: 4px;
                }
            }    
        }
        //rendeles.html
        .tartalom{       
            margin-top: 30px;
            .rendel{
                color: black;
                text-align: left;
                bottom: 0px;
                letter-spacing: 2px;
                font-weight: bold;
                background: rgb(255, 255, 255);
                border-radius: 10px;
                margin: auto;
                transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                box-shadow: inset 0 -3em 3em rgba(0,0,0,0.18),
                            0 0  0 2px rgb(190, 190, 190),
                            0.3em 0.3em 1em rgba(0,0,0,0.5);

                p{
                    margin-bottom: 0px;
                    padding-top: 4px;
                    padding-right: 4px;
                }
            }
            
        }
    }
}